<html>
<head>
    <title>Senor :Botto</title>
    <link rel="stylesheet" type="text/css" href="static\styles.css">
</head>
<body>
    <div class="top-nav-bar"></div>
    <div class="page-div-wrapper">
        <div class="container1">
            <!phone case>
            <div class = "phone-case-container">
                <div class="phone-case">
                    <div class="phone-screen"></div>
                </div>
            </div>
            <div class = "bot-info-container">
                <div class="bot-container-text">
                    <h1>Hola Amigo, I'm Señor Botto!</h1>
                    <p>
                        Amigo, I've traveled the world in search of the best Tacos.
                        I've climbed mountains and crossed oceans, but to my
                        dismay - I couldn't find any! Every taco I had eaten was unique,
                        so I set on a journey to talk about my travels and the <b>tacos</b> to the world.
                    </p>
                </div>

            </div>

        </div>

        <div class="container2">


        </div>
    </div>
</body>
</html>
